.col_video {
    position: relative;
    padding-bottom: calc((9/16) * 100%);
}

iframe {
    height: 100%;
    width: 100%;
    position: absolute;
}

p {
    line-height: 1.5rem;
}

.col_img video {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}

h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5rem;
}


@media(min-width:769px) {
    /*    .row_video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 1rem;
    }

    .row_img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 1rem;
    }*/

    .col {
        padding: 0 1rem;
    }
}

@media (min-width: 1100px) {

    .row_video {
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 0 1rem;
    }

    .row_img {
        display: grid;
        grid-template-columns: 40% 60%;
        padding: 0 1rem;
    }
}

@media (min-width:1150px) {

    .row_video,
    .row_img {
        padding: 1rem;
    }
}

@media (min-width:1400px) {
    #section_about {
        margin: 0 auto;
    }
}
