h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin: 0.7rem auto;
}

iframe {
    width: 100%;
}

/*------------contactform------------*/

.info_line {
    display: grid;
    grid-template-columns: 1fr 19fr;
}

.col_info .fa,
.col_info p,
.col_info a {
    color: black;
    display: inline-block;
}

.col_info .fa {
    margin: 0.5rem auto;
}

.col_info a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0.5rem 5px;
    text-decoration: none;
}

.cols {
    padding-bottom: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    display: inline-block;
}

/*------------contactform------------*/

.col_form {
    line-height: 1.5rem;
}

form {
    text-align: center;
}

form input,
textarea {
    border: 2px solid #B79697;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 100%;
    padding: 5px;
    margin: 5px auto;
}

form button {
    font-family: 'Roboto', sans-serif;
    background: #B79697;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border: none;
    width: 100%;
    padding: 5px;
}

#message {
    height: 30vw;
}

@media (min-width:769px) {

    #section_contact .section_wrapper .cols {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #section_contact .section_wrapper .col_info {
        padding-right: 1rem;
    }

    #section_contact .section_wrapper .col_form {
        padding-left: 1rem;
    }

    #message {
        height: 20rem;
    }
}

@media (min-width:1400px) {
    #section_contact {
        margin: 0 auto;
    }
}
