body {
    margin: 0 auto;
    overflow-x: hidden;
}

/*------------landing------------*/

#videoBG {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100vh;
    }
}

#video_text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 20%;
}

#video_text h1 {
    color: white;
    margin-bottom: 20rem;
}

#video_text a {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #B79697;
    padding: 10px;
    border: 2px solid #B79697;
    text-decoration: none;

}

#video_text a:hover {
    background: #B79697;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px;
    border: 2px solid white;
    text-decoration: none;
}


/*------------info------------*/

#section_info {
    margin: 5vw;
}

/*------------info------------*/

#section_items .section_wrapper {
    display: grid;
}
