/*------------landing------------*/

#video_landing {
    height: 100vh;
    overflow: hidden;
}

#video_background {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #video_background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video_background {
        width: auto;
        height: 100%;
    }
}

#video_text {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5%;
}

#video_text a {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #B79697;
    padding: 10px;
    border: 2px solid #B79697;
    text-decoration: none;
}

#video_text a:hover {
    background: #B79697;
    color: white;
}

#video_text img {
    width: 50px;
    height: auto;
    margin-top: 10vh;
}

header a,
.fa {
    color: black;
}

footer .fa {
    color: white;
}

.white {
    color: white;
}

/*------------categories------------*/

#section_categories {
    margin: 0;
}

#section_categories .col,
#section_categories .row {
    position: relative;
    text-align: center;
    padding: 0.5rem 0;
    display: inline-block;
}

#img_dsk {
    display: none;
}

#section_categories a {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #B79697;
    padding: 10px;
    border: 2px solid #B79697;
    text-decoration: none;
    display: inline-block;
}

#section_categories a:hover {
    background: #B79697;
    color: white;
}

#button_jacket,
#button_bag {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#button_scarf {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#button_all {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/*------------items------------*/

#section_items .grid_items {
    overflow: auto;
    white-space: nowrap;
}

#section_items .row_items {
    display: inline-flex;
    white-space: normal;
    width: 130%;
}

#section_items .item {
    text-align: center;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#items_button {
    text-align: center;
    margin: 3rem;
}

#items_button a {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #B79697;
    padding: 10px;
    border: 2px solid #B79697;
    text-decoration: none;
}

#items_button a:hover {
    background: #B79697;
    color: white;
}

/*------------mailform------------*/

form {
    margin-bottom: 3rem;
    text-align: center;
}

form label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

form input {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 10px;
    border: 2px solid #B79697;
    text-decoration: none;
    font-size: 1rem;
}

form button {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #B79697;
    padding: 10px;
    border: 2px solid #B79697;
    text-decoration: none;
    font-size: 1rem;
}

form button:hover {
    background: #B79697;
    color: white;
}

#mailform {
    margin-top: 1rem;
}

/*------------mediaQ------------*/

@media (min-width:769px) {

    #section_categories {
        margin: 0 auto;
    }

    #section_categories .cols {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #section_categories .col,
    #section_categories .row {
        padding: 0.5rem;
    }

    #img_mob {
        display: none;
    }

    #img_dsk {
        display: inline-block;
    }
}

@media (min-width: 1100px) {

    #section_items .grid_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: visible;
        white-space: normal;
    }

    #section_items .row_items {
        display: inline-flex;
        white-space: normal;
        width: 100%;
    }
}

@media (min-width:1650px) {

    #section_items,
    #section_mailform {
        margin: 0 auto;
    }
}
