body {
    margin: 0 auto;
}

section {
    margin: 0 7vw;
    padding-top: 100px;
    max-width: 1400px;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.hide {
    display: none;
}

.invis {
    opacity: 0;
}

.pointer {
    cursor: pointer;
}

/*--------------fonts----------------*/
h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
}

h6 {
    font-family: 'Arial', sans-serif;
    font-size: 0.7rem;
    margin: 0.3rem auto 1rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.header_case {
    text-align: center;
    background-color: #B79697;
    color: white;
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid;
}

@media (min-width: 900px) {
    .header_case {
        text-align: center;
        background-color: #B79697;
        color: white;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        border: 3px solid;
    }
}

/*--------------header---------------*/
#header {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1;
}

nav {
    padding: 10px 0;
}

header a {
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    display: inline-block;
}

header p {
    color: white;
}

#header_bottom a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 1rem 1rem;
}

@media (max-width:900px) {
    #header_bottom {
        display: none;
    }
}

.active {
    background: #B79697;
}

.fa {
    color: white;
    font-size: 2rem;
}

.header_icon {
    position: absolute;
}

.icon_menu,
.icon_menuOff {
    left: 15px;
}


.icon_cart,
.icon_cartOff {
    right: 15px;
}

.icon_search,
.icon_searchOff {
    right: 55px;
}

#menu {
    height: 100vh;
    background: #B79697;
}

#menu ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

#menu li {
    margin: 1rem;
}

#menu li a {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

#menu hr,
.cart_hr_top {
    color: white;
    width: 100%;
    margin: 0;
}

.cart_hr {
    color: white;
    margin: 0 1.5rem;
}

#menu_icons {
    margin-top: 2rem;
    position: absolute;
    width: 100%;
    bottom: 5rem
}

#cart {
    height: 100vh;
    background: #B79697;
    position: absolute;
    right: 0;
    width: 100%;
}

.cart_text {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart_text h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.cart_text h5 {
    font-size: 1rem;
}

.cart_text h6 {
    font-size: 1rem;
    text-align: right;
}

.cart_row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
}

.cart_col {
    padding: 0.5rem;
}

.cart_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.cart_price div {
    padding: 0.5rem;
}

#cart_button {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

#cart_button a {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #B79697;
    padding: 10px;
    border: 2px solid white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#cart_button a:hover {
    background: #B79697;
    color: white;
}

#search {
    background: #B79697;
    text-align: center;
}

#search hr {
    margin: 0;
    color: white;
}

#search form input {
    border: 2px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    width: 80%;
    background: white;
    text-align: left;
    margin: 0.5rem;
    padding: 0.5rem;
}

@media (min-width: 769px) {

    #menu,
    #menu ul,
    #cart {
        width: 20rem;
    }

    #menu_icons {
        width: 20rem;
        bottom: 5rem;
    }
}

/*--------------footer---------------*/
footer {
    background: #B79697;
    text-align: center;
    color: white;
    padding: 10px 0;
    font-size: 2rem;
    margin-top: 3rem;
}

.footer_icon {
    margin: 10px;
    display: inline-block;
}
