#section_product {
    margin: 0 7vw;
    padding-top: 75px;
    max-width: 1400px;
}

.product_name {
    text-align: center;
}

/*---------------size-----------*/

select {
    width: 100%;
    padding: 0.5rem;
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #B79697;
    padding: 5px;
    border: 2px solid #B79697;
}

/*---------------buttons-----------*/

.product_buttons {
    text-align: center;
}

#button_add a,
#button_buy a {
    display: inline-block;
    width: 100%;
    margin: 0.5rem auto;
    cursor: pointer;
}

#button_add a {
    background: #B79697;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px;
    border: 2px solid #B79697;
    text-decoration: none;
}

#button_buy a {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #B79697;
    padding: 10px;
    border: 2px solid #B79697;
    text-decoration: none;
}

#button_buy a:hover {
    background: #B79697;
    color: white;
}

/*---------------info-----------*/

p {
    line-height: 1.5rem;
}

/*---------------similar-----------*/

h3 {
    font-family: 'Nanum Gothic';
    font-size: 1.3rem;
}

.row {
    overflow: auto;
    white-space: nowrap;
}

.item {
    text-align: center;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: inline-block;
    width: 65%;
    white-space: normal;
}

/*---------------mediaqueries-----------*/

@media (min-width:769px) {
    #section_product {
        padding-top: 150px;
    }

    .row_product {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item {
        width: 30%;
    }

    .col_text h5 {
        font-family: 'Nanum Gothic', sans-serif;
        text-align: left;
        font-size: 2rem;
    }

    .col_text h6 {
        text-align: left;
        font-size: 1.4rem;
    }

    .col_img,
    .col_text {
        padding: 2rem;
    }

    .product_name,
    .product_size,
    .product_buttons,
    .product_info {
        margin: 5vh;
    }
}

@media (min-width:1400px) {
    #section_product {
        margin: 0 auto;
    }
}
