h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0.7rem auto;
}

p {
    line-height: 1.5rem;
}

#section_tos a {
    color: #B79697;
    text-decoration: none;
}

.info_text {
    text-align: center;
    margin: 2rem auto;
}

@media (min-width:1100px) {
    #section_tos {
        margin: 0 7vw;
    }

    @media (min-width:1650px) {
        #section_tos {
            margin: 0 auto;
        }
    }
}
